@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800);

body,
html {
    width: 100%;
    overflow-x: hidden
}

.patreons {
    opacity: 0;
}

* {
    padding: 0;
    margin: 0;
    font-family: Open Sans, "sans-serif"
}

h1 {
    font-weight: 700;
    font-family: Open Sans;
    letter-spacing: 2px;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase
}

hr {
    width: 100px;
    border: 2px solid #000;
    margin: 8px auto 40px;
    background: #000
}

.patreons {
    flex-wrap: wrap;
    margin-bottom: 100px
}

.patreons,
.patreons>div {
    display: flex;
    justify-content: center
}

.patreons>div {
    width: 200px;
    height: 200px;
    margin: 20px;
    position: relative;
    flex-direction: column;
    border: 2px solid #000;
    text-align: center;
    overflow: hidden;
    border-radius: 10px 50px
}

.patreons>div:hover .details {
    opacity: 1
}

.patreons img {
    width: 100%
}

.patreons .details {
    opacity: 0;
    background: #000;
    height: 200px;
    width: 200px;
    position: absolute;
    color: #fff;
    top: 0;
    left: 0;
    padding: 10px;
    transition: all .2s ease-out;
    display: flex;
    flex-direction: column;
    justify-content: center
}

.patreons h2 {
    font-size: 20px;
    font-weight: 700
}

.patreons p {
    margin: 3px;
    font-size: 14px
}

.patreons .contact_no {
    font-weight: 700
}

.patreons .website {
    font-weight: 700;
    border: 2px solid #e9c46a;
    width: 80px;
    margin: 5px auto
}

.patreons .website a {
    text-decoration: none;
    color: #e9c46a
}

.patreons .website:hover {
    background: #e9c46a
}

.patreons .website:hover a {
    color: #000 !important
}

@media (max-width:700px) {
    .patreons>div {
        border-radius: 5px;
        margin: 3px
    }
    .patreons .details,
    .patreons>div {
        height: 155px;
        width: 155px
    }
    .patreons h2 {
        font-size: 18px
    }
    .patreons .body {
        display: none
    }
    .patreons .contact_no {
        font-weight: 400
    }
    .patreons .website {
        margin-top: 10px
    }
}

