@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800);

body,
html {
    width: 100%;
    overflow-x: hidden
}

* {
    padding: 0;
    margin: 0;
    font-family: Open Sans, "sans-serif"
}

@media (max-width:700px) {
    h2 {
        font-weight: 700;
        font-family: Open Sans;
        letter-spacing: 2px;
        text-align: center;
        font-size: 30px;
        text-transform: uppercase
    }
    .people {
        display: flex;
        flex-wrap: wrap;
        justify-content: center
    }
    .people>div {
        margin: 10px
    }
    .people h3 {
        color: #000;
        font-size: 28px;
        margin-top: 10px
    }
    .people h3,
    .people h4 {
        font-family: Oswald, sans-serif;
        text-align: center
    }
    .people h4 {
        font-size: 20px;
        font-weight: 700;
        color: grey
    }
    .people img {
        width: 300px;
        height: 350px
    }
    hr {
        width: 100px;
        border: 2px solid #000;
        margin: 20px auto 40px;
        background: #000
    }
    svg {
        fill: #ddd;
        height: 150px;
        width: 100%
    }
}

@media (min-width:700px) {
    h2 {
        font-weight: 800 !important;
        font-family: Open Sans;
        letter-spacing: 2px;
        text-align: center;
        font-size: 30px;
        text-transform: uppercase
    }
    .people {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 100px
    }
    .people>div {
        margin: 10px
    }
    .people h3 {
        color: #000;
        font-size: 28px;
        margin-top: 10px
    }
    .people h3,
    .people h4 {
        font-family: Oswald, sans-serif;
        text-align: center
    }
    .people h4 {
        font-size: 20px;
        font-weight: 700;
        color: grey
    }
    .people img {
        width: 300px;
        height: 350px
    }
    hr {
        width: 100px;
        border: 2px solid #000;
        margin: 20px auto 40px;
        background: #000
    }
}

.img-holder {
    background: #ddd
}

body {
    background: #fff !important
}