@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800);

body,
html {
    width: 100%;
    overflow-x: hidden
}

* {
    padding: 0;
    margin: 0;
    font-family: Open Sans, "sans-serif"
}

@media (max-width:700px) {
    #articles article {
        padding: 20px;
        text-align: justify
    }
    #articles .article-layout {
        display: grid;
        grid-template-areas: "image" "text"
    }
    #articles .img {
        display: flex;
        width: 100%;
        justify-content: center
    }
    #articles .img img {
        width: 80%;
        height: 80%
    }
    #articles .text {
        grid-area: text;
        display: flex;
        padding-top: 20px
    }
    #articles .text h2 {
        font-weight: 700;
        writing-mode: vertical-lr;
        padding-right: 10px
    }
    #articles .reverse-layout {
        background: #ddd
    }
    svg {
        fill: #ddd;
        height: 75px;
        width: 100%
    }
    .right-grey {
        background: #ddd
    }
    .right-grey svg {
        background: #fff
    }
    .right-white svg {
        background: #ddd;
        fill: #fff
    }
}

@media (min-width:700px) {
    #articles article .article-layout {
        margin: auto;
        display: block;
        max-width: 1000px;
        display: flex;
        justify-content: center
    }
    #articles article .text {
        padding: 30px
    }
    #articles article .img,
    #articles article .text {
        display: flex;
        flex-direction: column;
        justify-content: center
    }
    #articles article h2 {
        letter-spacing: 10px;
        font-weight: 700;
        font-size: 40px;
        text-align: right;
        margin-bottom: 1em
    }
    #articles article p {
        border-right: 5px solid #000;
        padding: 0 20px;
        text-align: justify;
        font-size: 18px
    }
    #articles .reverse-layout {
        background: #ddd
    }
    #articles .reverse-layout>div {
        flex-direction: row-reverse
    }
    #articles .reverse-layout p {
        border-right: none;
        border-left: 5px solid #000
    }
    #articles .reverse-layout h2 {
        text-align: left
    }
    svg {
        fill: #ddd;
        height: 150px;
        width: 100%
    }
    .right-grey {
        background: #ddd
    }
    .right-grey svg {
        background: #fff
    }
    .right-white svg {
        background: #ddd;
        fill: #fff
    }
}

