@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800);
@media (max-width:700px) {
    header {
        background: #e9c46a;
        text-align: center;
        color: #000
    }
    header h1 {
        font-weight: 700;
        padding: 1em;
        padding-top: 2.5em;
        padding-bottom: 0;
        font-size: 2.5em;
        margin: 0
    }
    header p {
        font-size: 18px;
        color: #222
    }
    header span {
        font-weight: 700;
        font-size: 30px
    }
    header .cover {
        color: #000;
        overflow: hidden;
        background: #fff;
        height: 150px
    }
    header .diagonal {
        height: 200px;
        width: 150%;
        background: #e9c46a;
        transform-origin: top left;
        transform: translateX(-20px) rotate(-5deg)
    }
    header svg {
        display: block;
        width: 100%;
        height: 75px;
        background: #e9c46a
    }
    header svg polygon {
        fill: #fff
    }
}

@media (min-width:700px) {
    header {
        background: #e9c46a;
        text-align: center;
        color: #000
    }
    header h1 {
        font-weight: 800;
        padding: 1em;
        padding-bottom: 0;
        margin: 0;
        font-size: 3em;
        letter-spacing: 5px
    }
    header p {
        font-size: 18px;
        color: #222
    }
    header span {
        font-weight: 700;
        font-size: 30px
    }
    header .cover {
        color: #000;
        overflow: hidden;
        background: #fff;
        height: 150px
    }
    header .diagonal {
        height: 200px;
        width: 150%;
        background: #e9c46a;
        transform-origin: top left;
        transform: translateX(-20px) rotate(-5deg)
    }
    header svg {
        display: block;
        width: 100%;
        height: 150px;
        background: #e9c46a
    }
    header svg polygon {
        fill: #fff
    }
}

footer {
    background: #000;
    color: #fff
}

footer h3 {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 5px
}

.menubar {
    position: fixed;
    z-index: 100;
    background: #000;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none
}

.menubar a {
    padding: 5px;
    margin: 0;
    text-decoration: none;
    color: #fff;
    font-size: 2em;
    font-weight: 700
}

.menubar a:active,
.menubar a:hover {
    color: orange;
    text-decoration: underline
}

.menu-trigger {
    position: fixed;
    cursor: pointer;
    top: 0;
    right: 0;
    z-index: 101;
    margin: 20px
}

.menu-trigger .bar1,
.menu-trigger .bar2,
.menu-trigger .bar3 {
    width: 40px;
    margin: 6px 0;
    height: 6px;
    background: #fff;
    box-shadow: 0 0 5px #000;
    display: block
}

.menu-close .bar1,
.menu-close .bar2,
.menu-close .bar3 {
    background: #fff
}

.menu-close .bar1 {
    transform-origin: center left;
    transform: rotate(45deg)
}

.menu-close .bar2 {
    background: #000
}

.menu-close .bar3 {
    transform-origin: center left;
    transform: rotate(-45deg)
}

@media (min-width:880px) {
    .menu-trigger {
        display: none
    }
}

body,
html {
    width: 100%;
    overflow-x: hidden
}

@media (max-width:700px) {
    #articles article {
        padding: 20px;
        text-align: justify
    }
    #articles .article-layout {
        display: grid;
        grid-template-areas: "image" "text"
    }
    #articles .img {
        display: flex;
        width: 100%;
        justify-content: center
    }
    #articles .img img {
        width: 80%;
        height: 80%
    }
    #articles .text {
        grid-area: text;
        display: flex;
        padding-top: 20px
    }
    #articles .text h2 {
        font-weight: 700;
        writing-mode: vertical-lr;
        padding-right: 10px
    }
    #articles .reverse-layout {
        background: #ddd
    }
    svg {
        fill: #ddd;
        height: 75px;
        width: 100%
    }
    .right-grey {
        background: #ddd
    }
    .right-grey svg {
        background: #fff
    }
    .right-white svg {
        background: #ddd;
        fill: #fff
    }
}

@media (min-width:700px) {
    #articles article .article-layout {
        margin: auto;
        display: block;
        max-width: 1000px;
        display: flex;
        justify-content: center
    }
    #articles article .text {
        padding: 30px
    }
    #articles article .img,
    #articles article .text {
        display: flex;
        flex-direction: column;
        justify-content: center
    }
    #articles article h2 {
        letter-spacing: 10px;
        font-weight: 700;
        font-size: 40px;
        text-align: right;
        margin-bottom: 1em
    }
    #articles article p {
        border-right: 5px solid #000;
        padding: 0 20px;
        text-align: justify;
        font-size: 18px
    }
    #articles .reverse-layout {
        background: #ddd
    }
    #articles .reverse-layout>div {
        flex-direction: row-reverse
    }
    #articles .reverse-layout p {
        border-right: none;
        border-left: 5px solid #000
    }
    #articles .reverse-layout h2 {
        text-align: left
    }
    svg {
        fill: #ddd;
        height: 150px;
        width: 100%
    }
    .right-grey {
        background: #ddd
    }
    .right-grey svg {
        background: #fff
    }
    .right-white svg {
        background: #ddd;
        fill: #fff
    }
}

* {
    padding: 0;
    margin: 0;
    font-family: Open Sans, "sans-serif"
}