body {
    overflow: hidden;
    background: #18181c;
    color: #18181c;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

.loader {
    background: #18181c;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s ease;
    z-index: 100;
}

#logo {
    transition: fill 1s ease;
    /* stroke: rgb(153, 255, 0); */
    /* stroke: gold; */
}

.loader svg {
    /* margin-top: -30px; */
    display: none;
    height: 100vh;
}

text {
    opacity: 0;
    transition: opacity .5s;
    fill: white;
}

path,
rect {
    stroke: white;
}

circle {
    opacity: 0;
    transition: opacity .5s;
}

#menubar {
    display: none;
}

@media(max-width: 700px){
    .loader svg{
        width: 1000px; 
        transform: translateX(-40vw);      
    }
}