{% extends 'website/layout.html' %} {% load static %}
<!-- title -->

{% block title %}
    <title>E-Cell Events</title>
{% endblock title %}
    
<!-- css -->
{% block css %}
<link rel="stylesheet" href="{% static 'website/events/events.css' %}"> {% endblock css %}
<!-- js -->
{% block js %}
<!-- <script src="{% static 'website/events/events.js' %}"></script> -->
{% endblock js %}
<!-- main content -->
{% block content %}
<section id=articles>

    {% for event in events %}
    
    {% if event.alternate %}
    <article>
        <div class=article-layout>
            <div class=text>
                <h2 class="wow fadeInLeft">{{event.name}}</h2>
                <p class="wow fadeInUp">{{event.details}}</p>
            </div>
            <div class="img wow fadeInRight">
                <img src='../../static/{{event.cover_pic}}' alt=""> </div>
        </div>
    </article>
    {% else %}
    <div class=right-grey>
        <svg xmlns=http://www.w3.org/2000/svg viewBox="0 0 100 10" preserveAspectRatio=none>
            <polygon points="100 0 100 10 0 10" /> </svg>
        </div>
    <article class=reverse-layout>
        <div class=article-layout>
            <div class=text>
                <h2 class="wow fadeInRight">{{event.name}}</h2>
                <p class="wow fadeInUp">{{event.details}}</p>
            </div>
            <div class="img wow fadeInLeft">
                <img src='../../static/{{event.cover_pic}}' alt=""> </div>
            </div>
        </article>
        <div class=right-white>
            <svg xmlns=http://www.w3.org/2000/svg viewBox="0 0 100 10" preserveAspectRatio=none>
                <polygon points="100 0 100 10 0 10" /> </svg>
            </div>
    {% endif %}
    {% endfor %}

</section>

{% endblock content %}