{% load static %}
<script>
    var base_url = window.location.href.split('/')[0] + '//' + window.location.href.split('/')[2];
</script>

<footer class="mt-5 p-4">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-2 d-md-block d-none">
                <h4 class="text-center font-weight-bold mb-3">Quick links</h4>
                <div id="quick-links" class="text-center">
                    <a class="text-capitalize" href=/>Home</a>
                    <a class="text-capitalize" href=/events>Events</a>
                    <a class="text-capitalize" href=/team>Team</a>
                    <a class="text-capitalize" href=/sponsors>Sponsors</a>
                    <a class="text-capitalize" href=/speakers>Speakers</a>
                    <a class="text-capitalize" href=/mentors>Mentors</a>
                </div>
            </div>
            <div class="col-md-6 text-center d-md-block d-none">
                <div class="d-flex justify-content-around align-items-center">
                    <div>
                        <img src="{% static 'website/img/logo-white.png' %}" id="footer-logo" class="img-responsive">
                    </div>
                </div>

                <p class="text-white">E-Cell, NIT Raipur is established to motivate and educate people about entrepreneurship and serve as a meeting
                    ground for corporate and young budding entrepreneurs from distinguished institutions.</p>
                <p class="text-center m-0">
                    <a class="d-inline-bloack mx-2" href=/privacy_policy>Privacy Policy</a>-
                    <a class="d-inline-bloack mx-2" href=/terms>Terms and Conditions</a>
                </p>
            </div>
            <div class="col-md-3 align-self-center text-center">
                <h4 class="font-weight-bold text-center mb-4 d-md-block d-none">E-Cell NIT RAIPUR</h4>
                <p class="text-center white mb-1">Follow us on social media!</p>
                <div id=footer-social-media class="text-center">
                    <a class="" href=https://www.facebook.com/ecellnitrr/>
                    <i class="p-2 fa fa-2x fa-facebook"></i>
                    </a>
                    <a href=https://www.instagram.com/ecell.nitraipur/>
                    <i class="p-2 fa fa-2x fa-instagram"></i>
                    </a>
                    <a class="" href="https://twitter.com/ecell_nitrr">
                        <i class="p-2 fa fa-2x fa-twitter"></i>
                    </a>
                    <a href=https://www.linkedin.com/company/entrepreneurship-cell-nit-raipur/>
                    <i class="p-2 fa fa-2x fa-linkedin"></i>
                    </a>
                </div>
                <div class="text-center mt-2"><a href="mailto:ecell@nitrr.ac.in">ecell@nitrr.ac.in</a></div>
                <div class="text-center mt-2"><a href="tel:+918094966697">+91 80949 66697</a> </div>
                <div class="text-center"><a href="tel:+918839579796">+91 88395 79796</a> </div>
                <p class="mb-0 mt-2">&copy; All Rights Reserved</p>
            </div>
        </div>
    </div>
</footer>
<style>
    footer {
        z-index: 1111 !important;
    }

    #footer-logo {
        width: 75px;
        margin-bottom: 25px;
    }

    #quick-links a {
        display: block;
        padding-bottom: 3px;
    }

    #quick-links a:hover {
        font-weight: bold;
    }

    footer hr {
        color: white;
        background: white;
        margin-bottom: 20px;
    }

    .footer-es18 {
        writing-mode: vertical-rl
    }
</style>