{% extends 'website/layout.html' %} {% load static %}
<!-- keywords -->
{% block keywords %}
<meta name="keywords" content="ecell, e-summit, esummit, e summmit, entrepreneurship, E-Cell,nitrr, Gallery"> {% endblock keywords %}
<!-- title -->
{% block title %}
<title>Gallery | E-Cell NIT Raipur</title>
{% endblock title %}
<!-- css -->
{% block css %}
<link rel="stylesheet" href='{% static "website/common/mobile_menubar.css" %}'>
<link rel="stylesheet" href='{% static "website/common/header.css" %}'>
<link rel="stylesheet" href='{% static "website/common/footer.css" %}'>

<link rel="stylesheet" href="{% static 'website/gallery/gallery.css' %}"> {% endblock css %}
<!-- js -->
{% block js %}
<script src="{% static 'website/gallery/gallery.js' %}"></script>
{% endblock js %}
<!-- content -->
{% block content %}
<h2 class="text-center font-weight-bold">Gallery</h2>
<hr>
<div id="gallery" class="container">
</div>
<div id="big_container">
    <div>
        <img src="/static/website/gallery/img/1.jpg" alt="" id="big_img">
        <button id="bcloseBtn">X</button>
    </div>
</div>
{% endblock content %}