{% load static %}
<!DOCTYPE html>
<html lang=en>

<head>
    <!-- meta -->
    <meta charset=UTF-8>
    <meta name=viewport content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <meta name="subject" content="E-Cell Nitrr">
    <meta name="copyright" content="E-cell Nitrr">
    <meta name="language" content="ES">
    <meta name="topic" content="E-Cell Nitrr">
    <meta name="rating" content="General">
    <!-- meta keywords -->
    {% block keywords %} keywords goes here {% endblock keywords %}
    <!-- meta title -->
    {% block title %} title goes here{% endblock title %}

    <!-- loader css -->
    {% block loader_css %} {% endblock loader_css %}

    <!-- spinner css -->
    <link rel="stylesheet" href="{% static 'website/common/spinner.css' %}">
    <!-- fontawesome css-->
    <link href=https://netdna.bootstrapcdn.com/font-awesome/4.0.1/css/font-awesome.css rel=stylesheet>
    <!-- bootstrap css-->
    <link rel="stylesheet" href="{% static 'website/common/bootstrap.min.css' %}">
    <!-- menubar css-->
    <link href="{% static 'website/menubar/demo4.css' %}" rel="stylesheet">
    <link href="{% static 'website/menubar/base.css' %}" rel="stylesheet">
    <!-- custom css -->
    {% block css %} css goes here {% endblock css %}
    <!-- common css -->
    <link rel="stylesheet" href="{% static 'website/common/common.css' %}">
</head>

<body>
    <!-- loader html -->
    {% block loader_html_js %} {% endblock loader_html_js %}

    <!-- menubar -->
    {% include 'website/menubar.html' %}

    <!-- header -->
    <img src="{% static 'website/img/logo.png' %}" alt="" id="logo-img"> {% block header %}
    <header>
        <h1 class="wow fadeInUp">E-SUMMIT 18</h1>
        <p class="p-1 m-0 wow zoomIn" data-wow-delay=.3s>
            <span class=bold>"</span> Don't fit in, just stand out
            <span class=bold>"</span>
        </p>
        <svg xmlns=http://www.w3.org/2000/svg viewBox="0 0 100 10" preserveAspectRatio=none>
            <polygon points="100 0 100 10 0 10" /> </svg>
    </header>
    {% endblock header %}

    <!-- content -->
    {% block content %}
    <h1>from the layout.html</h1>
    {% endblock content %}

    <!-- footer -->
    {% include 'website/footer.html' %}

    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- modal -->
    {% include 'website/modal.html' %}
    <div id="modal"></div>
    <link rel="stylesheet" href="{% static 'website/modal/modal.css' %}">
    <script src="{% static 'website/modal/modal_dom.js' %}"></script>
    <!-- <script src="{% static 'website/modal/logout_modal.js' %}"></script>
    <script src="{% static 'website/modal/login_modal.js' %}"></script>
    <script src="{% static 'website/modal/signup_modal.js' %}"></script> -->


    <!-- menubar js-->
    <script src="{% static 'website/menubar/TweenMax.min.js' %}"></script>
    <script src="{% static 'website/menubar/mobile-menu.js' %}"></script>
    <script src="{% static 'website/menubar/nearby.js' %}"></script>
    <script src="{% static 'website/menubar/demo.js' %}"></script>
    <script src="{% static 'website/menubar/demo4.js' %}"></script>


    <!-- wow js -->
    <script src="{% static 'website/common/wow.js' %}"></script>
    <script>
        var wow = new WOW({
            offset: 100, // distance to the element when triggering the animation (default is 0)
            mobile: false, // trigger animations on mobile devices (default is true)
        });
        wow.init();
    </script>


    <!-- custom js -->
    {% block js %}{% endblock js %}

    <!-- urgent js -->
    <!-- <script>
        if (localStorage.ecell_nitrr_user) {
            loggedin_user.innerText = localStorage.ecell_nitrr_user.split('@')[0]
            wlogin_trigger.innerText = 'logout'
            mlogin_trigger.innerText = 'logout'
        } else {
            loggedin_user.innerText = 'login / signup'
        }
    </script> -->
</body>

</html>