{% load static %}
<!DOCTYPE html>
<html lang=en>

<head>
    <!-- meta -->
    <meta charset=UTF-8>
    <meta name=viewport content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <meta name="subject" content="E-Cell Nitrr">
    <meta name="copyright" content="E-cell Nitrr">
    <meta name="language" content="ES">
    <meta name="topic" content="E-Cell Nitrr">
    <meta name="rating" content="General">
    <!-- meta keywords -->
    {% block keywords %} keywords goes here {% endblock keywords %}
    <!-- meta title -->
    {% block title %} title goes here{% endblock title %}
    <!-- spinner css -->
    <link rel="stylesheet" href="{% static 'website/common/spinner.css' %}">
    <!-- fontawesome css-->
    <link href=https://netdna.bootstrapcdn.com/font-awesome/4.0.1/css/font-awesome.css rel=stylesheet>
    <!-- bootstrap css-->
    <link rel="stylesheet" href="{% static 'website/common/bootstrap.min.css' %}">
    <!-- menubar css-->
    <link href="{% static 'website/menubar/demo4.css' %}" rel="stylesheet">
    <link href="{% static 'website/menubar/base.css' %}" rel="stylesheet">
    <!-- custom css -->
    {% block css %} css goes here {% endblock css %}
    <!-- loader js and css -->
    <link rel="stylesheet" href="{% static 'website/common/loader.css' %}">
    <script src="{% static 'website/common/anime.min.js' %}"></script>
</head>

<body>
    <!-- loader html -->
    {% include "website/loader.html" %}
    <script src="{% static 'website/common/loader.js' %}"></script>

    <!-- menubar -->
    {% include 'website/menubar.html' %} {% block header %}
    <!-- header -->
    <header>
        <h1 class="wow fadeInUp">E-SUMMIT 18</h1>
        <p class="p-1 m-0 wow zoomIn" data-wow-delay=.3s>
            <span class=bold>"</span> Don't fit in, just stand out
            <span class=bold>"</span>
        </p>
        <svg xmlns=http://www.w3.org/2000/svg viewBox="0 0 100 10" preserveAspectRatio=none>
            <polygon points="100 0 100 10 0 10" /> </svg>
    </header>
    {% endblock header %}

    <!-- content -->
    {% block content %}
    <h1>from the layout.html</h1>
    {% endblock content %}

    <!-- footer -->
    {% include 'website/footer.html' %}

    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


    <!-- menubar js-->
    <script src="{% static 'website/menubar/mobile-menu.js' %}"></script>
    <script src="{% static 'website/menubar/nearby.js' %}"></script>
    <script src="{% static 'website/menubar/demo.js' %}"></script>
    <script src="{% static 'website/menubar/TweenMax.min.js' %}"></script>
    <script src="{% static 'website/menubar/demo4.js' %}"></script>

    <!-- wow js -->
    <script src="{% static 'website/common/wow.js' %}"></script>
    <script>
        var wow = new WOW({
            offset: 100, // distance to the element when triggering the animation (default is 0)
            mobile: false, // trigger animations on mobile devices (default is true)
        });
        wow.init();
    </script>

    <!-- custom js -->
    {% block js %}{% endblock js %}

    <style>
        html {
            width: 100vw !important;
            overflow-x: hidden !important;
        }

         a:hover {
            text-decoration: none !important;
        }
    </style>
</body>

</html>