<div class="loader">
        <svg xmlns="http://www.w3.org/2000/svg" width="100vw" height="100vw" viewBox="0 0 800 400">
          <g transform="translate(199.622 106.452)">
              <rect width="88.63" height="88.63" x="155.185" y="52.685" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" paint-order="markers fill stroke" rx="6" ry="0"/>
              <path fill="none" stroke="#000" stroke-linecap="round" stroke-miterlimit="4.09" stroke-width="2" d="M161.68 89.484V58.787h27.805"/>
              <path fill="none" stroke="#000" stroke-width="2" d="M198.862 53.65V3.822"/>
              <path fill="none" stroke="#000" stroke-miterlimit="4.09" stroke-width="2" d="M186.703 51.785l.314-30.986H164.21V-32.05m12.898 84.622v-22.02m0-.001h-44.356m33.346 22.335V39.674H111.99"/>
              <path fill="none" stroke="#000" stroke-width="2" d="M211.712 52.572V-73.142m9.839 125.012v-91.201h42.71v-29.807M232.006 52.76V-7.3m.223 1.335h62.728M243.5 55.123h38.24V21.83m-82.401 118.91v49.827m12.159-47.963l-.314 30.986h22.807v52.85m-12.898-84.622v22.02m0 0h44.356m-33.346-22.335v13.212h54.108m-99.721-12.897V267.53m-9.84-125.01v91.2h-42.71v29.808m32.255-121.898v60.059m-.222-1.335h-62.729"/>
              <path fill="none" stroke="#000" stroke-miterlimit="4.09" stroke-width="2" d="M155.284 94.922h-49.827"/>
              <path fill="none" stroke="#000" stroke-width="2" d="M153.42 107.081l-30.986-.314v22.807h-52.85m84.622-12.898h-22.02m0 0v44.356m22.334-33.346h-13.212v54.108"/>
              <path fill="none" stroke="#000" stroke-miterlimit="4.09" stroke-width="2" d="M154.206 82.072H28.492m125.012-9.839h-91.2V29.524H32.495m121.899 32.254H95.447m.223-.222V-1.173"/>
              <path fill="none" stroke="#000" stroke-width="2" d="M243.482 98.293h49.827m-47.963-12.16l30.986.315V63.64h52.85M244.56 76.538h22.02"/>
              <path fill="none" stroke="#000" stroke-linecap="round" stroke-width="2" d="M266.58 76.538V32.183"/>
              <path fill="none" stroke="#000" stroke-width="2" d="M244.245 65.528h13.212V11.42m-12.897 99.722h125.714m-125.012 9.84h91.2v42.708h29.808m-121.898-32.254h60.059m-1.335.223v62.728"/>
              <circle cx="29.361" cy="28.995" r="3.044" fill="#fff" fill-rule="evenodd" stroke="#000" stroke-linejoin="round" stroke-width="1.14"/>
              <circle cx="95.318" cy="-3.109" r="3.044" fill="#fff" fill-rule="evenodd" stroke="#000" stroke-linejoin="round" stroke-width="1.14"/>
              <circle cx="110.103" cy="39.989" r="3.044" fill="#fff" fill-rule="evenodd" stroke="#000" stroke-linejoin="round" stroke-width="1.14"/>
              <circle cx="129.921" cy="30.866" r="3.044" fill="#fff" fill-rule="evenodd" stroke="#000" stroke-linejoin="round" stroke-width="1.14"/>
              <circle cx="164.21" cy="-32.05" r="3.044" fill="#fff" fill-rule="evenodd" stroke="#000" stroke-linejoin="round" stroke-width="1.14"/>
              <circle cx="199.129" cy="3.812" r="3.044" fill="#fff" fill-rule="evenodd" stroke="#000" stroke-linejoin="round" stroke-width="1.14"/>
              <circle cx="212.341" cy="-72.316" r="3.044" fill="#fff" fill-rule="evenodd" stroke="#000" stroke-linejoin="round" stroke-width="1.14"/>
              <circle cx="263.617" cy="-69.17" r="3.044" fill="#fff" fill-rule="evenodd" stroke="#000" stroke-linejoin="round" stroke-width="1.14"/>
              <circle cx="296.019" cy="-5.94" r="3.044" fill="#fff" fill-rule="evenodd" stroke="#000" stroke-linejoin="round" stroke-width="1.14"/>
              <circle cx="256.697" cy="10.733" r="3.044" fill="#fff" fill-rule="evenodd" stroke="#000" stroke-linejoin="round" stroke-width="1.14"/>
              <circle cx="267.078" cy="31.81" r="3.044" fill="#fff" fill-rule="evenodd" stroke="#000" stroke-linejoin="round" stroke-width="1.14"/>
              <circle cx="281.548" cy="22.372" r="3.044" fill="#fff" fill-rule="evenodd" stroke="#000" stroke-linejoin="round" stroke-width="1.14"/>
              <circle cx="27.138" cy="81.232" r="3.044" fill="#fff" fill-rule="evenodd" stroke="#000" stroke-linejoin="round" stroke-width="1.14"/>
              <circle cx="105.437" cy="95.913" r="3.044" fill="#fff" fill-rule="evenodd" stroke="#000" stroke-linejoin="round" stroke-width="1.14"/>
              <circle cx="69.624" cy="129.947" r="3.044" fill="#fff" fill-rule="evenodd" stroke="#000" stroke-linejoin="round" stroke-width="1.14"/>
              <circle cx="132.13" cy="160.866" r="3.044" fill="#fff" fill-rule="evenodd" stroke="#000" stroke-linejoin="round" stroke-width="1.14"/>
              <circle cx="141.028" cy="180.886" r="3.044" fill="#fff" fill-rule="evenodd" stroke="#000" stroke-linejoin="round" stroke-width="1.14"/>
              <circle cx="102.323" cy="199.793" r="3.044" fill="#fff" fill-rule="evenodd" stroke="#000" stroke-linejoin="round" stroke-width="1.14"/>
              <circle cx="198.64" cy="190.896" r="3.044" fill="#fff" fill-rule="evenodd" stroke="#000" stroke-linejoin="round" stroke-width="1.14"/>
              <circle cx="234.008" cy="226.041" r="3.044" fill="#fff" fill-rule="evenodd" stroke="#000" stroke-linejoin="round" stroke-width="1.14"/>
              <circle cx="133.687" cy="264.079" r="3.044" fill="#fff" fill-rule="evenodd" stroke="#000" stroke-linejoin="round" stroke-width="1.14"/>
              <circle cx="187.073" cy="266.97" r="3.044" fill="#fff" fill-rule="evenodd" stroke="#000" stroke-linejoin="round" stroke-width="1.14"/>
              <circle cx="266.04" cy="165.092" r="3.044" fill="#fff" fill-rule="evenodd" stroke="#000" stroke-linejoin="round" stroke-width="1.14"/>
              <circle cx="286.727" cy="154.193" r="3.044" fill="#fff" fill-rule="evenodd" stroke="#000" stroke-linejoin="round" stroke-width="1.14"/>
              <circle cx="303.855" cy="194.677" r="3.044" fill="#fff" fill-rule="evenodd" stroke="#000" stroke-linejoin="round" stroke-width="1.14"/>
              <circle cx="367.25" cy="162.868" r="3.044" fill="#fff" fill-rule="evenodd" stroke="#000" stroke-linejoin="round" stroke-width="1.14"/>
              <circle cx="370.365" cy="110.594" r="3.044" fill="#fff" fill-rule="evenodd" stroke="#000" stroke-linejoin="round" stroke-width="1.14"/>
              <circle cx="293.4" cy="97.248" r="3.044" fill="#fff" fill-rule="evenodd" stroke="#000" stroke-linejoin="round" stroke-width="1.14"/>
              <circle cx="329.213" cy="63.659" r="3.044" fill="#fff" fill-rule="evenodd" stroke="#000" stroke-linejoin="round" stroke-width="1.14"/>
              <text x="163.049" y="120.827" stroke-width=".265" font-family="sans-serif" font-size="10.583" font-weight="700" letter-spacing="0" style="line-height:1.25;-inkscape-font-specification:'sans-serif Bold'" word-spacing="0">
                  <tspan x="163.049" y="120.827">E-Summit 18</tspan>
              </text>
              <path fill="none" id="logo" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M223.745 101.38H191.59l4.998-8.657-5.223-1.4-6.236 10.802h-9.437l19.346-33.51 5.985 3.735-7.323 13.064 5.978 2.213 5.094-8.314 4.92 3.394-7.776 13.675 4.002 1.073 5.158-8.934 12.668 12.86"/>
          </g>
          <text x="275.902" y="-264.388" stroke-width=".265" font-family="sans-serif" font-size="10.583" font-weight="700" letter-spacing="0" style="line-height:1.25;-inkscape-font-specification:'sans-serif Bold'" transform="rotate(90 98.085 101.537)" word-spacing="0">
              <tspan x="275.902" y="-264.388">entrepreneurship</tspan>
          </text>
          <text x="75.837" y="-106.303" stroke-width=".265" font-family="sans-serif" font-size="10.583" font-weight="700" letter-spacing="0" style="line-height:1.25;-inkscape-font-specification:'sans-serif Bold'" transform="rotate(90 98.085 101.537)" word-spacing="0">
              <tspan x="75.837" y="-106.303">wallstreet</tspan>
          </text>
          <text x="235.432" y="-115.779" stroke-width=".265" font-family="sans-serif" font-size="10.583" font-weight="700" letter-spacing="0" style="line-height:1.25;-inkscape-font-specification:'sans-serif Bold'" transform="rotate(90 98.085 101.537)" word-spacing="0">
              <tspan x="235.432" y="-115.779">leadership</tspan>
          </text>
          <text x="266.852" y="-284.85" stroke-width=".265" font-family="sans-serif" font-size="10.583" font-weight="700" letter-spacing="0" style="line-height:1.25;-inkscape-font-specification:'sans-serif Bold'" transform="rotate(90 98.085 101.537)" word-spacing="0">
              <tspan x="266.852" y="-284.85">capital</tspan>
          </text>
          <text x="75.338" y="-125.754" stroke-width=".265" font-family="sans-serif" font-size="10.583" font-weight="700" letter-spacing="0" style="line-height:1.25;-inkscape-font-specification:'sans-serif Bold'" transform="rotate(90 98.085 101.537)" word-spacing="0">
              <tspan x="75.338" y="-125.754">interest</tspan>
          </text>
          <text x="61.101" y="204.626" stroke-width=".265" font-family="sans-serif" font-size="10.583" font-weight="700" letter-spacing="0" style="line-height:1.25;-inkscape-font-specification:'sans-serif Bold'" transform="translate(199.622 3.452)" word-spacing="0">
              <tspan x="61.101" y="204.626">return</tspan>
          </text>
          <text x="237.418" y="108.605" stroke-width=".265" font-family="sans-serif" font-size="10.583" font-weight="700" letter-spacing="0" style="line-height:1.25;-inkscape-font-specification:'sans-serif Bold'" transform="translate(199.622 3.452)" word-spacing="0">
              <tspan x="237.418" y="108.605">venture</tspan>
          </text>
          <text x="55.887" y="-197.571" stroke-width=".265" font-family="sans-serif" font-size="10.583" font-weight="700" letter-spacing="0" style="line-height:1.25;-inkscape-font-specification:'sans-serif Bold'" transform="rotate(90 98.085 101.537)" word-spacing="0">
              <tspan x="55.887" y="-197.571">startup</tspan>
          </text>
          <text x="302.023" y="201.093" stroke-width=".265" font-family="sans-serif" font-size="10.583" font-weight="700" letter-spacing="0" style="line-height:1.25;-inkscape-font-specification:'sans-serif Bold'" transform="translate(199.622 3.452)" word-spacing="0">
              <tspan x="302.023" y="201.093">success</tspan>
          </text>
          <text x="264.842" y="121.191" stroke-width=".265" font-family="sans-serif" font-size="10.583" font-weight="700" letter-spacing="0" style="line-height:1.25;-inkscape-font-specification:'sans-serif Bold'" transform="translate(199.622 3.452)" word-spacing="0">
              <tspan x="264.842" y="121.191">social</tspan>
          </text>
          <text x="38.723" y="226.337" stroke-width=".265" font-family="sans-serif" font-size="10.583" font-weight="700" letter-spacing="0" style="line-height:1.25;-inkscape-font-specification:'sans-serif Bold'" transform="translate(199.622 3.452)" word-spacing="0">
              <tspan x="38.723" y="226.337">creativity</tspan>
          </text>
          <text x="310.034" y="282.195" stroke-width=".265" font-family="sans-serif" font-size="10.583" font-weight="700" letter-spacing="0" style="line-height:1.25;-inkscape-font-specification:'sans-serif Bold'" transform="translate(199.622 3.452)" word-spacing="0">
              <tspan x="310.034" y="282.195">investment</tspan>
          </text>
          <text x="36.485" y="124.544" stroke-width=".265" font-family="sans-serif" font-size="10.583" font-weight="700" letter-spacing="0" style="line-height:1.25;-inkscape-font-specification:'sans-serif Bold'" transform="translate(199.622 3.452)" word-spacing="0">
              <tspan x="36.485" y="124.544">job</tspan>
          </text>
          <text x="135.656" y="349.628" stroke-width=".265" font-family="sans-serif" font-size="10.583" font-weight="700" letter-spacing="0" style="line-height:1.25;-inkscape-font-specification:'sans-serif Bold'" transform="translate(199.622 3.452)" word-spacing="0">
              <tspan x="135.656" y="349.628">funding</tspan>
          </text>
          <text x="32.916" y="306.737" stroke-width=".265" font-family="sans-serif" font-size="10.583" font-weight="700" letter-spacing="0" style="line-height:1.25;-inkscape-font-specification:'sans-serif Bold'" transform="translate(199.622 3.452)" word-spacing="0">
              <tspan x="32.916" y="306.737">knowledge</tspan>
          </text>
          <text x="335.149" y="170.583" stroke-width=".265" font-family="sans-serif" font-size="10.583" font-weight="700" letter-spacing="0" style="line-height:1.25;-inkscape-font-specification:'sans-serif Bold'" transform="translate(199.622 3.452)" word-spacing="0">
              <tspan x="335.149" y="170.583">growth</tspan>
          </text>
          <text x="193.01" y="308.732" stroke-width=".265" font-family="sans-serif" font-size="10.583" font-weight="700" letter-spacing="0" style="line-height:1.25;-inkscape-font-specification:'sans-serif Bold'" transform="translate(199.622 3.452)" word-spacing="0">
              <tspan x="193.01" y="308.732">value</tspan>
          </text>
          <text x="27.513" y="-162.609" stroke-width=".265" font-family="sans-serif" font-size="10.583" font-weight="700" letter-spacing="0" style="line-height:1.25;-inkscape-font-specification:'sans-serif Bold'" transform="rotate(90 98.085 101.537)" word-spacing="0">
              <tspan x="27.513" y="-162.609">future</tspan>
          </text>
          <path fill="none" stroke="#000" stroke-width="2" d="M496.31 150.854h118.955V133.67h76.66V53.707"/>
          <path fill="none" stroke="#000" stroke-width="2" d="M509.527 134.993h89.217v-23.13M519.44 117.15h31.06l-1.321-18.504M590.152 163.41h73.356M629.804 144.245H767.925M494.327 185.88h153.982"/>
          <path fill="none" stroke="#000" stroke-width="1.058" d="M594.118 175.306h90.538v23.791h91.86"/>
          <path fill="none" stroke="#000" stroke-width="2" d="M682.674 164.071h17.182v22.47h45.6M547.857 257.253h33.704v14.54h54.852v29.738M550.5 229.497h76M570.987 200.419h73.356M592.796 215.619h74.678v-25.774M569.666 242.714h82.608v-16.521h97.808M603.37 255.27h135.477M654.917 267.827h87.895M255.925 253.53h-79.703v17.182h-76.66v79.964"/>
          <path fill="none" stroke="#000" stroke-width="2" d="M288.172 261.36h-89.217v23.13M287.177 271.92h-31.061l1.322 18.504M230.503 240.973h-73.356M167.758 260.138H29.638M203.445 229.077h-90.538v-23.791h-91.86"/>
          <path fill="none" stroke="#000" stroke-width="2" d="M120.277 244.16h-17.182v-22.469h-45.6M249.706 147.13h-33.704v-14.54H161.15v-29.738M247.062 174.886h-76M226.575 203.964H153.22M204.767 188.764h-74.678v25.774M227.897 161.669H145.29v16.522H47.481M194.193 149.113H58.716M142.646 136.556H54.75"/>
      </svg>
    </div>
    