{% load static %}
<nav>
    <div class=menu-trigger>
        <div class=bar1></div>
        <div class=bar2></div>
        <div class=bar3></div>
    </div>
    <div class='menubar'>
        <a href='/'>HOME</a>
        <a href=/events>EVENTS</a>
        <a href=/team>TEAM</a>
        <a href="/gallery">GALLERY</a>
        <a href=/sponsors>SPONSORS</a>
        <a href=/speakers>SPEAKERS</a>
        <a href=/mentors>MENTORS</a>
        <a href=/esummit/register>REGISTER</a>
        <a href=https://medium.com/e-cell-nit-raipur>BLOGS</a>
    </div>
</nav>
