<div id="s_cont" class="m_basic">
    <div class="cover"></div>
    <div class="content text-center">
        <form>
            <input type="text" id="s_name" placeholder="Name">
            <input type="email" id="s_email" placeholder="Email">
            <input type="text" id="s_cno" placeholder="Contact No. ">
            <input type="password" id="s_p1" placeholder="Password">
            <input type="password" id="s_p2" placeholder="Confirm Password ">
            <button id="signup_btn">Signup</button>
            <div class="close_btn">
                <i class="fa fa-times"></i>
            </div>
        </form>
        <p class="mt-2">already have and account? <span id="to_login">Login</span> </p>
    </div>
</div>

<div id="l_cont" class="m_basic">
    <div class="cover"></div>
    <div class="content text-center">
        <form>
            <input type="email" id="l_email" placeholder="Email">
            <input type="password" id="l_p1" placeholder="Password">
            <button id="login_btn">Login</button>
            <div class="close_btn">
                <i class="fa fa-times"></i>
            </div>
        </form>
        <p class="mt-2">dont have an account? <span id="to_signup">signup</span> </p>
    </div>
</div>

<div id="x_cont" class="m_basic">
    <div class="cover"></div>
    <div class="content text-center">
        <form>
            <p>Are you sure want to logout?</p>
            <button id="logout_btn">Logout</button>
            <div class="close_btn">
                <i class="fa fa-times"></i>
            </div>
        </form>
    </div>
</div>

<div id="o_cont" class="m_basic">
    <div class="cover"></div>
    <div class="content text-center">
        <form>
            <p class="mt-2">Didn't recieve a OTP? <span id="rs_otp">Resend OTP</span></p>
            <p>Please enter the otp recieved in your registered mobile no to complete the signup process</p>
            <input type="text" id="o_otp" placeholder="X X X X">
            <button id="verify_btn">Verify OTP</button>
            <p class="mt-4">Incorrect phone no? <span id="ic_phno">Change here</span></p>
            <div class="close_btn">
                <i class="fa fa-times"></i>
            </div>
        </form>
    </div>
</div>

