<div id="s_cont" class="m_basic">
    <div class="cover"></div>
    <div class="content text-center">
        <form>
            <input type="text" id="s_n1" placeholder="Firstname">
            <input type="text" id="s_n2" placeholder="Lastname">
            <input type="email" id="s_email" placeholder="Email">
            <input type="text" id="s_cno" placeholder="Contact No. ">
            <input type="password" id="s_p1" placeholder="Password">
            <input type="password" id="s_p2" placeholder="Confirm Password ">
            <button id="signup_btn">Signup</button>
            <div class="close_btn">
                <i class="fa fa-times"></i>
            </div>
        </form>
        <p class="mt-2">already have and account? <span id="to_login">Login</span> </p>
    </div>
</div>

<div id="l_cont" class="m_basic">
    <div class="cover"></div>
    <div class="content text-center">
        <form>
            <input type="email" id="l_email" placeholder="Email">
            <input type="password" id="l_p1" placeholder="Password">
            <button id="login_btn">Login</button>
            <div class="close_btn">
                <i class="fa fa-times"></i>
            </div>
        </form>
        <p class="mt-4"><span id="to_forget_password">Forgot password?</span> </p>
        <p class="mt-2">dont have an account? <span id="to_signup">signup</span> </p>
    </div>
</div>

<div id="x_cont" class="m_basic">
    <div class="cover"></div>
    <div class="content text-center">
        <form>
            <p>Are you sure want to logout?</p>
            <button id="logout_btn">Logout</button>
            <div class="close_btn">
                <i class="fa fa-times"></i>
            </div>
        </form>
    </div>
</div>

<div id="o_cont" class="m_basic">
    <div class="cover"></div>
    <div class="content text-center">
        <form>
            <p class="mt-2">Didn't recieve a OTP? <span id="rs_otp">Resend OTP</span></p>
            <p>Please enter the otp recieved in your registered mobile no to complete the signup process</p>
            <input type="text" id="o_otp" placeholder="X X X X">
            <button id="verify_btn">Verify OTP</button>
            <p class="mt-4">Incorrect phone no? <span id="ic_phno">Change here</span></p>
            <div class="close_btn">
                <i class="fa fa-times"></i>
            </div>
        </form>
    </div>
</div>

<div id="forgot_pas_cont" class="m_basic">
    <div class="cover"></div>
    <div class="content text-center">
          <form>
              <p>Enter the registered email to get verification otp!</p>
              <input type="email" id="fg_email" placeholder="Email">
              <button id="fg_getotp_btn">Get OTP</button>
              
              <p class="mt-3">Please enter the otp recieved in your registered mobile no to continue</p>
              <input type="text" id="fg_otp" placeholder="X X X X">
              <input type="password" id="fg_new_pas" placeholder="New Password">
              <button id="fg_verify_btn">Change Password</button>
              <div class="close_btn">
                  <i class="fa fa-times"></i>
                </div>
            </form>
    </div>
</div>

