{% extends 'website/layout.html' %} {% load static %}
<!-- keywords -->
{% block keywords %}
<meta name="keywords" content="ecell, e-summit, esummit, e summmit, entrepreneurship, E-Cell,nitrr,sponsors"> {% endblock keywords %}
<!-- title -->
{% block title %}
<title>Sponsors | E-Cell NIT Raipur</title>
{% endblock title %}
<!-- css -->
{% block css %}
<link rel="stylesheet" href='{% static "website/common/mobile_menubar.css" %}'>
<link rel="stylesheet" href='{% static "website/common/header.css" %}'>
<link rel="stylesheet" href='{% static "website/common/footer.css" %}'>

<link rel="stylesheet" href="{% static 'website/patreons/patreons.css' %}"> {% endblock css %}
<!-- js -->
{% block js %}
<script src="{% static 'website/patreons/display_sponsors.js' %}"></script>
{% endblock js %}
<!-- content -->
{% block content %} {% include 'website/spinner.html' %}
<div class="hide_until_req" id="this_spons">
    <h1>Our sponsors</h1>
    <hr>
    <div class="patreons container"> </div>
</div>
<div class="hide_until_req" id="prev_spons">
    <h1>previous year sponsors</h1>
    <hr>
    <div class="patreons container"> </div>
</div>

{% endblock content %}