{% extends 'website/layout.html' %} {% load static %}
<!-- keywords -->
{% block keywords %}
<meta name="keywords" content="ecell, e-summit, esummit, e summmit, entrepreneurship, E-Cell,nitrr, Startups"> 
{%endblock keywords %}
<!-- title -->
{% block title %}
<title>Startups | E-Cell NIT Raipur</title>
{% endblock title %}
<!-- css -->
{% block css %}
<link rel="stylesheet" href='{% static "website/common/header.css" %}'>
<link rel="stylesheet" href="{% static 'website/startups/startups.css' %}"> {% endblock css %}
<!-- js -->
{% block js %}
<script src="{% static 'website/startups/startups.js' %}"></script>
{% endblock js %}
<!-- content -->
{% block content %}
<h2 class="text-center font-weight-bold">Our Startups</h2>
<hr>
<div id="startups"></div>
<div id="big_container">
    <div>
        <img src="/static/website/gallery/img/1.jpg" alt="" id="big_img">
        <button id="bcloseBtn"><i class="fa fa-times"></i></button>
    </div>
</div>
{% endblock content %}