{% extends 'website/layout.html' %} {% load static %}
<!-- keywords -->
{% block keywords %}
<meta name="keywords" content="ecell, e-summit, esummit, e summmit, entrepreneurship, E-Cell,nitrr, team"> {% endblock keywords %}
<!-- title -->
{% block title %}
<title>E-Cell Team</title>
{% endblock title %}
<!-- css -->
{% block css %}
<link rel="stylesheet" href="{% static 'website/team/team.css' %}"> {% endblock css %}
<!-- js -->
{% block js %}
<script src="{% static 'website/team/team.js' %}"></script>
{% endblock js %}
<!-- content -->
{% block content %}
{% include 'website/spinner.html' %}
<h2 class="h5 font-weight-bold container my-5 ">Director NIT Raipur</h2>
<hr>
<div class="members container" id="director"></div>

<div>
    <h2 class="h5 font-weight-bold container my-5 ">Head of Career development</h2>
    <hr>
    <div class="members container" id="head_career-dev"></div>
</div>

<div>
    <h2 class="h5 font-weight-bold container my-5 ">Faculty Incharge</h2>
    <hr>
    <div class="members container" id="faculty_incharge"></div>
</div>

<h2 class="h5 font-weight-bold container py-5 ">Overall Co-ordinators</h2>
<hr>
<div class="members container" id="overall-co"></div>

<h2 class="h5 font-weight-bold container my-5 ">Head Co-ordinators</h2>
<hr>
<div class="members container" id="head-co"></div>

<h2 class="h5 font-weight-bold container my-5 ">Managers</h2>
<hr>
<div class="members container" id="managers"></div>

<h2 class="h5 font-weight-bold container my-5 ">Executives</h2>
<hr>
<div class="members container" id="executives"></div>

{% endblock content %}
<!-- <div class=right-grey>
    <svg xmlns=http://www.w3.org/2000/svg viewBox="0 0 100 10" preserveAspectRatio=none>
        <polygon points="100 0 100 10 0 10" /> </svg>
</div> -->
<!-- <div class=right-white>
    <svg xmlns=http://www.w3.org/2000/svg viewBox="0 0 100 10" preserveAspectRatio=none>
        <polygon points="100 0 100 10 0 10" /> </svg>
</div> -->