{% extends 'website/layout.html' %} {% load static %}
<!-- css -->
{% block css %}
<link rel="stylesheet" href="{% static 'website/team/team.css' %}"> {% endblock css %}
<!-- js -->
{% block js %}
<script src="{% static 'website/team/team.js' %}"></script>
{% endblock js %}
<!-- content -->
{% block content %}
<h2 class="h5 font-weight-bold container my-5 wow fadeInUp">Director NIT Raipur</h2>
<hr>
<div class="members container" id="director"></div>

<div class="d-flex flex-wrap justify-content-center text-center">
    <div>
        <h2 class="h5 font-weight-bold container my-5 wow fadeInUp">Dean Student Welfare</h2>
        <hr>
        <div class="members container" id="dean_student_welfare"></div>
    </div>

    <div>
        <h2 class="h5 font-weight-bold container my-5 wow fadeInUp">Dean Research & Cons.</h2>
        <hr>
        <div class="members container" id="dean_research"></div>
    </div>

    <div>
        <h2 class="h5 font-weight-bold container my-5 wow fadeInUp">Faculty Incharge</h2>
        <hr>
        <div class="members container" id="faculty_incharge"></div>
    </div>
</div>

<h2 class="h5 font-weight-bold container py-5 wow fadeInUp">Overall Co-ordinators</h2>
<hr>
<div class="members container" id="overall-co"></div>

<h2 class="h5 font-weight-bold container my-5 wow fadeInUp">Head Co-ordinators</h2>
<hr>
<div class="members container" id="head-co"></div>

<h2 class="h5 font-weight-bold container my-5 wow fadeInUp">Managers</h2>
<hr>
<div class="members container" id="managers"></div>

<h2 class="h5 font-weight-bold container my-5 wow fadeInUp">Executives</h2>
<hr>
<div class="members container" id="executives"></div>

{% endblock content %}
<!-- <div class=right-grey>
    <svg xmlns=http://www.w3.org/2000/svg viewBox="0 0 100 10" preserveAspectRatio=none>
        <polygon points="100 0 100 10 0 10" /> </svg>
</div> -->
<!-- <div class=right-white>
    <svg xmlns=http://www.w3.org/2000/svg viewBox="0 0 100 10" preserveAspectRatio=none>
        <polygon points="100 0 100 10 0 10" /> </svg>
</div> -->