@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800);

body,
html {
    width: 100%;
    overflow-x: hidden
}

* {
    padding: 0;
    margin: 0;
    font-family: Open Sans, "sans-serif";
}

#this_div,
#prev_div {
    display: none;
}

hr {
    width: 100px;
    border: 2px solid #000;
    margin: 10px auto 40px;
    background: #000
}

.heading {
    display: none;
}

.speaker a:hover {
    color: black !important;
}


/* @media (min-width:700px) { */
    h2 {
        font-weight: 700;
        font-family: Open Sans;
        letter-spacing: 2px;
        text-align: center;
        font-size: 25px;
        text-transform: uppercase
    }
    /* speaker */
    .speakers{
        margin-bottom: 100px;
    }
    .speaker {
        margin-top: 50px;
        margin: 70px 0;
    }
    .s-img img {
        width: 250px;
        height: 250px;
        box-shadow: 5px 10px 10px black;
    }
    .name {
        font-weight: bold;
        margin-top: 22px;
    }
    .s-info {
        display: flex;
    }
    .s-info div {
        width: 100%;
    }
    .company {
        color: grey;
    }
    .year {
        margin-top: 10px;
    }
    .social_media i{
        display: inline-block;
        text-align: center;
        align-self: center;
        padding: 10px;
        margin-right: 10px;
        background: black;
        color: white;
        border-radius: 50%;
    }
/* } */

@media(max-width: 700px){
    h2 {
        font-weight: 700;
        font-family: Open Sans;
        letter-spacing: 2px;
        text-align: center;
        font-size: 20px;
        text-transform: uppercase
    }
    /* speaker */
    
}