@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800);

* {
    padding: 0;
    margin: 0;
    font-family: Open Sans, "sans-serif"
}

body,
html {
    width: 100%;
    overflow-x: hidden
}

#gmap_canvas {
    width: 100%;
}

#map-frame{
    /* border-radius: 18px; */
    box-shadow: 0 0 35px -10px black;
}

#winners {
    border: 2px dashed black;
    padding: 10px 40px;
    border-radius: 5px;
    text-align: center;
    display: inline-block;
}

@media(max-width: 700px) {
    #map-frame{
        box-shadow: none;
    }

    #winners {
        padding: 10px;
    }
}
